name: Code quality

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

env:
  FORCE_COLOR: 1

jobs:
  lint:
    name: Lint and format
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Check formatting
        run: uv run ruff format --check src/

      - name: Check linting
        run: uv run ruff check src/
