name: Docs

on:
  push:

permissions:
  contents: read

concurrency:
  group: docs-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true
          cache-dependency-glob: "pyproject.toml"

      - name: Build and deploy to smokeshow
        if: github.ref != 'refs/heads/main'
        run: |
          uv run --group docs -- zensical build --clean
          uvx smokeshow upload site

      - name: Build docs
        if: github.ref == 'refs/heads/main'
        run: uv run --group docs -- zensical build --clean

      - uses: actions/upload-pages-artifact@v4
        if: github.ref == 'refs/heads/main'
        with:
          path: site

  deploy:
    needs: build
    if: github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/configure-pages@v5

      - uses: actions/deploy-pages@v4
        id: deployment
